@tailwind utilities;
@import "tailwindcss";

/* Sahifa bir teks va tekkis bo'lishi hamda silliq tushishi uchun */
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}